<h1>All Artists</h1>

<% @artists.each do |artist| %>
  <section class = "artist-<%= artist.id %>">
    <p><%= artist.name %></p>
    <%= button_to "Delete", "/artists/#{artist.id}", method: :delete%>
  </section>
<% end %>

<%= link_to "New Artist", "/artists/new" %>
